/*
Need to reorganize all of this at some point
*/

html, body {
	width:100% !important;
	height: 100%;
}

.activePage {
	color: #fff580 !important;
}


#aboutPageContainer {
	margin-top: 0px;
	background-color: #111111;
}

#membersPageContainer {
	margin-top: 0px;
	background-color: #111111;
}

#eventsPageContainer {
	margin-top: 0px;
	background-color: #111111;
}

#faqsPageContainer {
	margin-top: 0px;
	background-color: #111111;
}

#contactPageContainer {
	margin-top: 0px;
	background-color: #111111;
}


#aboutPageMain {
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 8px;
	border: solid #a3a3a3 2px;
	background-color: white;
}

#membersPageMain {
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 8px;
	border: solid #a3a3a3 2px;
	background-color: white;
}

#eventsPageMain {
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 8px;
	border: solid #a3a3a3 2px;
	background-color: white;
}

#faqsPageMain {
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 8px;
	border: solid #a3a3a3 2px;
	background-color: white;
}

#contactPageMain {
	margin-top: 50px;
	margin-bottom: 100px;
	border-radius: 8px;
	border: solid #a3a3a3 2px;
	background-color: white;
}


.pageHeader {
	margin-top: 130px;
	font-family: 'Montserrat', sans-serif;
	font-size: 40pt;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
}


#aboutTopBanner {
	display: table;
	height: 70%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#membersTopBanner {
	display: table;
	height: 70%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#eventsTopBanner {
	display: table;
	height: 70%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#faqsTopBanner {
	display: table;
	height: 70%;
	position: relative;
	width: 100%;
	background-size: cover;
}

#contactTopBanner {
	display: table;
	height: 70%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.parallaxBanner {
    height: 100%;
	width: 100%;
    background: transparent;
}

.bannerTitle {
	width: 33%;
	min-width: 350px;
	position: relative;
	margin: 0 auto;
	top:30vh;
	z-index: 2;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 40pt;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	color: white;
	
	border-radius: 8px;
	
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0px 3px 8px rgba(0, 0, 0, .5);
}

#aboutBannerTitle {
	background-color: rgba(0, 0, 0, .9);
}

#membersBannerTitle {
	background-color: rgba(0, 0, 0, .9);
}

#eventsBannerTitle {
	background-color: rgba(0, 0, 0, .7);
}

#faqsBannerTitle {
	background-color: rgba(0, 0, 0, .7);
}

#contactBannerTitle {
	background-color: rgba(0, 0, 0, .9);
}



.pageMiniHeader {
	margin-top: 30px;
	margin-left: 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 25pt;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: left;
	color: black;
}

.headerUnderline {
	height: 6px;
	margin: 0 0 20px 30px;
	width: 200px;
	background-color: #fff580;
	border-top: solid #111111 2px;
	border-bottom: solid #111111 2px;
}


.pageText {
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: left;
	color: #111111;	
}

.pageTextSmall {
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	font-weight: 200;
	letter-spacing: 1px;
	text-align: left;
	color: #111111;	
}

#quoteBox {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
	margin-top: 10px;
	
	font-family: 'Raleway', sans-serif;
	font-size: 10pt;
	font-weight: 200;
	letter-spacing: 0px;
	text-align: left;
	background-color: #F6F6F6;
}

#alvinText {
	margin-left:20px;
	font-weight: 400;
}


#yearTill {
	margin-top: 20px;
	margin-left: 20px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 25pt;
	font-weight: 500;
	letter-spacing: 1px;
	color: #111111;
	text-align: left;
	
	border-left: solid black 2px;
}


#aboutTopText {
	padding: 0px 0px 30px 0px;
	border-bottom: solid #111111 1px;
}

#aboutBottomText {
	padding: 0px;
	margin-bottom: 20px;
}

#aboutBottomPhoto {
	margin: 20px 0 10px 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#membersTopText {
	padding: 0px;
	margin-bottom: 30px;
}

#membersPageText {
	font-size: 17pt;
}


#eventsTopText {
	padding: 0px;
	margin-bottom: 30px;
}

#eventsBottomPhoto {
	margin: 20px 0 10px 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#faqsTopText {
	padding: 0px 0px 10px 0px;
}

.faqsText {
	padding: 0px 0px 10px 0px;
}

#faqsBottomText {
	padding: 0px 0px 30px 0px;
}

.faqsBottomVideo {
	margin: 10px 0px 60px 0px;
}

#contactTopText {
	padding: 0px 0px 30px 0px;
}


@media(max-width: 600px) {
	.bannerTitle {
		font-size: 30pt;
		min-width: 250px;
	}
}